.home {
    text-align: center;
    font-size: 100px;
}

.class-one {
    margin-top: 100px;
}

.class-two {
    font-size: 100px;
}

.class-three{
    text-align: center;
}

.navbar-color {
    background-color: rgb(163, 17, 17);
}

body {
    background-color:rgb(197, 87, 87);
}

.color1 {
    color: rgb(242, 76, 76);
}

.color2 {
    color: rgb(250, 118, 118);
}

.color3 {
    color: rgb(245, 150, 150);
}

.color4 {
    color: rgb(255, 182, 182);
}

.color1:hover {
    color: rgb(249, 137, 137);
}

.color2:hover {
    color: rgb(242, 76, 76);
}

.img-one {
    border: 1px solid white;
    margin-left: 100px;
    height: 300px;
}

.card {
    margin: 50px;
    height: 250px;
    width: 250px;
    background-color: rgb(163, 17, 17);
    border: 1px solid white;
    float: left;
}

.card-title {
    text-decoration: underline;
}